@using InspectR.Helpers
<div class="hero-unit">
    <h1>InspectB.in http requests</h1>    
    <img class="lower" src="~/Images/screenshot1.png" alt="screenshot" title="InspectR screenshot"/>
    <h4>Test remote http clients and webhooks. Point to your InspectBin url and start inspecting.</h4>
    <p class="lower">
        Based on the idea of RequestBin (requestb.in), set your http client or webhook to point to your InspectBin url.<br />
        We will collect http requests and show it in a nice and friendly way, live!<br />
    </p>
    <p class="lower">
        <a class="btn btn-primary btn-large" href="@Url.InspectR().Create()">Create a new InspectBin &raquo;</a>
    </p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Open Source</h2>
        <p>
            InspectB.in runs the opensource project InspectR. It is build using Asp.Net MVC, SignalR (Rrr), Bootstrap, Knockout JS and several others.<br />
        </p>
        <p>
            For more info, visit our github project wiki.
        </p>
        <p>
            <a class="btn" href="#">Github Project &raquo;</a>
        </p>
    </div>
    <div class="span4">
        <h2>Contribute!</h2>
        <p>
            We are just starting this project, any help is welcome.
            Visit the wiki at our github project page for more information.
        </p>
        <p>
            <a class="btn" href="#">Project Wiki &raquo;</a>
        </p>
    </div>
    <div class="span4">
        <h2>How does it work?</h2>
        <p>
            It's magic bro, get over it.
        </p>
        <p>
            <a class="btn" href="#">Discover the magic &raquo;</a>
        </p>
    </div>
</div>
