.sidebar-nav {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.nav-list .action {
    float: right;
}

.CodeMirror {
    background-color: white;
    height: auto;
}

.CodeMirror-scroll {
    min-height: 100px;
    max-height: 260px;
}

#copyinspectorurl {
    position: relative; /*  to get ZeroClipboard working */
    display: inline-block;
}

.hero-unit {
    margin-top: -20px;
    font-size: 100%;
}

    .hero-unit img {
        margin-left: 30px;
        margin-right: 30px;
        height: 280px;
    }

.higher {
    margin-top: 0px;
}

.lower {
    margin-top: 20px;
}

.lower-more {
    margin-top: 40px;
}

.httprequest .tab-content {
    overflow: visible;
}

.httprequest-section {
}

    .httprequest-section .nav {
        margin-bottom: 5px;
    }

.property-list li {
}

    .property-list li div {
        color: gray;
        font-weight: bold;
        display: inline;
    }

        .property-list li div:after {
            content: ":";
        }

.header-list li {
    margin-left: 150px;
    list-style-type: none;
}

    .header-list li div {
        float: left;
        width: 140px;
        margin-left: -150px;
        text-align: right;
        color: gray;
        font-weight: bold;
    }

        .header-list li div:after {
            content: ":";
        }

#loginForm .well,
#socialLoginForm .well,
#manageForm .well,
#externalLogins .well {
    background-color: #FDFDFD;
    margin-top: 20px;
}

    #loginForm .well hr {
        margin-top: 0px;
    }

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    display: block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/*Inspect Bin custom styling*/

#registerLink {
    color: #fff;
}

.colorbar {
    width: 100%;
    height: 3px;
    background-image: url('images/colorbar.png');
}

.start {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

    .start h1 {
        margin-bottom: 20px;
    }

    .start img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .start p {
        line-height: 23px;
        color: #555;
    }

    .start .btn {
        margin-top: 55px;
    }

.well.purple {
    border-right: 0px;
    border-top: 5px solid #7109AA;
    border-bottom: 5px solid #7109AA;
    padding: 10px;
}

    .well.purple h2 {
        color: #7109AA;
        text-align: center;
    }

.well img.sign {
    width: 100px;
    padding: 15px 0 13px;
    display: block;
    margin: 0px auto;
}

.well.red {
    border-right: 0px;
    border-top: 5px solid #DC0055;
    border-bottom: 5px solid #DC0055;
    padding: 10px;
}

    .well.red h2 {
        color: #DC0055;
        text-align: center;
    }

footer p {
    margin-left: 20px;
}

.well.green {
    border-left: 0px;
    border-right: 0px;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    padding: 10px;
}

    .well.green h2 {
        color: green;
        text-align: center;
        font-size: 30px;
    }


.gutter-top {
    margin-top: 10px;
}
