.CodeMirror
{
    background-color: white;
}

.CodeMirror-scroll
{
    height: auto;
    min-height: 100px;
    max-height: 260px;
    overflow-y: hidden;
    overflow-x: auto;
}

#inspectorurl_container
{
    position: relative; /*  to get ZeroClipboard working */
}

.hero-unit
{
    padding-top: 30px;
}

    .hero-unit img
    {
        position: relative;
        float: right;
        margin-left: 20px;
        margin-right: -30px;
        height: 280px;
    }

.higher {
	margin-top: 0px;
}

.lower
{
    margin-top: 20px;
}

.lower-more
{
    margin-top: 40px;
}

.httprequest .tab-content
{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.httprequest-section
{
}

    .httprequest-section .nav
    {
        margin-bottom: 5px;
    }

.property-list li
{
}

    .property-list li div
    {
        color: gray;
        font-weight: bold;
        display: inline;
    }

        .property-list li div:after
        {
            content: ":";
        }

.header-list li
{
    margin-left: 150px;
}

    .header-list li div
    {
        float: left;
        width: 140px;
        margin-left: -150px;
        text-align: right;
        color: gray;
        font-weight: bold;
    }

        .header-list li div:after
        {
            content: ":";
        }

#loginForm .well,
#socialLoginForm .well {
	background-color: #FDFDFD;
	margin-top: 20px;
}
#loginForm .well hr {
	margin-top: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
	display: block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

