*resharper.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
Output/
*.resharper
resharper.settings.xml
*.user
[Dd]ist
junit-report
junit
ProfilerMessage.java
0
*.g.csproj
temp-war-deps
/.gitversion.tmp
/.gitversion.short.tmp
StyleCop.Cache
/Server
/*.docstates
Thumbs.db
*.dotCover
*.crunchsolution.cache
/deploy
src/hoesjesshop.nl/logs/*
src/hoesjesshop.nl/App_Data/Catalog.sdf
src/hoesjesshop.nl/Glimpse.log
src/hoesjesshop.nl/config/connectionstrings.config
lib/apache-solr-3.5.0/hoesjesshop/work/*
src/TestResults/*
data/*
solr/apache-solr-3.6.0/*
solr/apache-solr-3.6.0.rar
~$*
src/packages/*
packages/*
